.list-item {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
}

.list-item.selected {
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  border-radius: 0.5rem;
  background-color: rgba(128, 128, 128, 0.5);
  font-weight: 600;
  opacity: 1;
}
